<template>
  <div id="products" class="animated fadeIn pb4">
    <!-- desktop view -->
    <div>
      <WebshopHeader>
      </WebshopHeader>
      <div class="clearfix" v-if="loading">
        <div class="col-12">
          <div class="loader"></div>
        </div>
      </div>
      <div class="py4 px3" v-else>
        <div>
          <div class="p0">
            <div id="productFilter">
              <el-tabs v-model="activeTabName" :tab-position="tabPosition" @tab-click="tabChanged()">
                <b-form ref="form" :model="form" class="lg-col-6 ml-auto mr-auto">
                  <div class="p0">
                    <b-form-input placeholder="Søg produkt" v-model="search" class="search" clearable>
                    </b-form-input>
                  </div>
                </b-form>
                <div class="pb2"></div>
                <el-tab-pane name="0" :label="'Alle (' + totalProdCount + ')'">
                  <div class="fit">
                    <div class="right-align hide" v-if="prodMsg == ''">
                      <el-pagination small layout="prev, pager, next" :total="parseInt(lastPage)"
                        @current-change="paginationChanged" :current-page="parseInt(curPage)">
                      </el-pagination>
                    </div>
                    <div class="clearfix" v-if="insideLoading">
                      <div class="col-12">
                        <div class="loader"></div>
                      </div>
                    </div>
                    <div class="flex flex-wrap" v-else>
                      <div :id="'prodId-'+prod.ID" class="lg-col-3 md-col-4 p0" v-for="(prod,index) in prodData" :key="index">
                        <div id="imageloading" class="py2 px1">
                          <div class="relative">
                            <div :class="'clearfix py4 img-loader loader-'+prod.ID">
                              <div class="col-12">
                                <div class="loader"></div>
                                <p class="center mediumgrey bold">Genererer forhåndsvisning...</p>
                              </div>
                            </div>
                            <div :class="'hide prodImg-'+prod.ID">
                              <div class="relative border muted-border more-muted-background">
                                <div class="absolute right-0 mt1">
                                  <!-- Bladders download icon -->
                                  <!-- <a class="pointer z2 mt1 download-icon" title="Hent" v-if="prod.PRODUCT_GROUP == '9001'" @click="downloadFiles('https://widget.haandvaerker.dk/prisen/2021/bladder/rendered/' + haaId + '/badges.zip')">
                                    <i class="el-icon-download darkblue h2"></i>
                                  </a> -->
                                  <!-- Favorites icon -->
                                  <a class="pointer z2 mr1 wishlist-icon" title="Fjern til ønskelisten" @click="addRemoveProdWishList(prod.ID, 'removed')" v-if="prodIdsWishList.includes(prod.ID)">
                                    <i class="fas fa-heart darkblue h4"></i>
                                  </a>
                                  <!-- Unfavorites icon -->
                                  <a class="pointer z2 mt1 mr1 wishlist-icon" title="Tilføj til ønskeliste"
                                    @click="addRemoveProdWishList(prod.ID, 'added')" v-else>
                                    <i class="far fa-heart darkblue h4"></i>
                                  </a>
                                </div>
                                <a :href="'#/webshop/product?id=' + prod.ID" class="cart-icon" v-if="prod.CATEGORY_ID != 104">
                                  <div v-if="prod.get_product_image.length">
                                    <!-- Widget products -->
                                    <img :data-key="index"
                                      :src="typeof 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' !== 'undefined' && 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' !== null ? 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' : 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/productPng.php?id='+haaId"
                                      width="100%" class="prod-img" rel="preload" @load="onImageLoad(prod.ID)"
                                      @error="checkimage(prod.ID, prod.PRODUCT_GROUP, index)" v-if="prod.PRODUCT_GROUP == '1000' || prod.PRODUCT_GROUP == '1300' || prod.PRODUCT_GROUP == '1400' || prod.PRODUCT_GROUP == '2000' || prod.PRODUCT_GROUP == '2100' || prod.PRODUCT_GROUP == '2200' || prod.PRODUCT_GROUP == '2300' || prod.PRODUCT_GROUP == '2400' || prod.PRODUCT_GROUP == '2500'">
                                    <!-- Widget prisen -->
                                    <img :data-key="index" :src="'http://widget.haandvaerker.dk/prisen/2021/streamer/rendered/'+haaId+'/1.jpg'" width="100%" class="prod-img" rel="preload" @load="onImageLoad(prod.ID)" @error="checkimage(prod.ID, prod.PRODUCT_GROUP, index)" v-else-if="prod.PRODUCT_GROUP == '9001'">
                                    <!-- Regular products -->
                                    <img id="imagefcrm" :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL"
                                      width="100%" rel="preload" class="prod-img" @load="onImageLoad(prod.ID)" v-else>
                                  </div>
                                  <div v-else>
                                    <img src="static/img/Prisen2020.png" width="100%" rel="preload" class="prod-img" @load="onImageLoad(prod.ID)">
                                  </div>
                                </a>
                                <!-- FB Ads -->
                                <a href="#/webshop/fb-ads" class="cart-icon" v-else-if="prod.CATEGORY_ID == 104 && prod.ID == 4034">
                                  <div v-if="prod.get_product_image.length">
                                    <img id="imagefcrm"
                                        :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL" width="100%"
                                        rel="preload" class="prod-img"
                                        @load="onImageLoad(prod.ID)">
                                  </div>
                                </a>
                                <!-- Google Ads -->
                                <a href="#/webshop/google-ads" class="cart-icon" v-else-if="prod.CATEGORY_ID == 104 && prod.ID == 4035">
                                  <div v-if="prod.get_product_image.length">
                                    <img id="imagefcrm"
                                        :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL" width="100%"
                                        rel="preload" class="prod-img"
                                        @load="onImageLoad(prod.ID)">
                                  </div>
                                </a>
                              </div>
                              <div class="center">
                                <div class="pb2"></div>
                                <a :href="'#/webshop/product?id=' + prod.ID" class="cart-icon"><span
                                    class="h5 darkblue bold block">{{prod.NAME}}</span></a>
                                <span
                                  class="h6 mintgreen bold">{{prod.PRICE.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
                                  kr</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt3"><span class="bold">{{prodMsg}}</span></div>
                    </div>
                  </div>
                </el-tab-pane>

                <el-tab-pane :name="cat.ID.toString()" :label="cat.VALUE + ' (' + cat.PRODUCT_COUNT + ')'"
                  v-for="(cat,index) in catData" :key="index">
                  <div class="fit">
                    <div class="right-align hide" v-if="prodMsg == ''">
                      <el-pagination small layout="prev, pager, next" :total="parseInt(lastPage)"
                        @current-change="paginationChanged" :current-page="parseInt(curPage)">
                      </el-pagination>
                    </div>
                    <div class="clearfix" v-if="insideLoading">
                      <div class="col-12">
                        <div class="loader"></div>
                      </div>
                    </div>
                    <div class="flex flex-wrap" v-else>
                      <div :id="'prodId-'+prod.ID" class="lg-col-3 md-col-4 p0" v-for="(prod,index) in prodData" :key="index">
                        <div class="py2 px1">
                          <div :class="'clearfix py4 img-loader loader-'+prod.ID">
                            <div class="col-12">
                              <div class="loader"></div>
                              <p class="center mediumgrey bold">Genererer forhåndsvisning...</p>
                            </div>
                          </div>
                          <div :class="'hide prodImg-'+prod.ID">
                            <div class="relative border muted-border more-muted-background">
                              <div class="absolute right-0 mt1">
                                <!-- Bladders download icon -->
                                <!-- <a class="pointer z2 mt1 download-icon" title="Hent" v-if="prod.PRODUCT_GROUP == '9001'" @click="downloadFiles('https://widget.haandvaerker.dk/prisen/2021/bladder/rendered/' + haaId + '/badges.zip')">
                                  <i class="el-icon-download darkblue h2"></i>
                                </a> -->
                                <!-- Favorites icon -->
                                <a class="pointer z2 mr1 wishlist-icon" title="Fjern til ønskelisten" @click="addRemoveProdWishList(prod.ID, 'removed')" v-if="prodIdsWishList.includes(prod.ID)">
                                  <i class="fas fa-heart darkblue h4"></i>
                                </a>
                                <!-- Unfavorites icon -->
                                <a class="pointer z2 mt1 mr1 wishlist-icon" title="Tilføj til ønskeliste"
                                  @click="addRemoveProdWishList(prod.ID, 'added')" v-else>
                                  <i class="far fa-heart darkblue h4"></i>
                                </a>
                              </div>
                              <!-- Regular products -->
                              <a :href="'#/webshop/product?id=' + prod.ID" class="cart-icon" v-if="prod.CATEGORY_ID != 104">
                                <div v-if="prod.get_product_image.length">
                                  <!-- Widget products -->
                                    <img :data-key="index"
                                      :src="typeof 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' !== 'undefined' && 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' !== null ? 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/rendered/'+haaId+'.jpg' : 'http://widget.haandvaerker.dk/products/'+prod.PRODUCT_GROUP+'/'+prod.EXT+'/productPng.php?id='+haaId"
                                      width="100%" class="prod-img" rel="preload" @load="onImageLoad(prod.ID)"
                                      @error="checkimage(prod.ID, prod.PRODUCT_GROUP, index)" v-if="prod.PRODUCT_GROUP == '1000' || prod.PRODUCT_GROUP == '1300' || prod.PRODUCT_GROUP == '1400' || prod.PRODUCT_GROUP == '2000' || prod.PRODUCT_GROUP == '2100' || prod.PRODUCT_GROUP == '2200' || prod.PRODUCT_GROUP == '2300' || prod.PRODUCT_GROUP == '2400' || prod.PRODUCT_GROUP == '2500'">
                                    <!-- Widget prisen -->
                                    <img :data-key="index" :src="'http://widget.haandvaerker.dk/prisen/2021/streamer/rendered/'+haaId+'/1.jpg'" width="100%" class="prod-img" rel="preload" @load="onImageLoad(prod.ID)" @error="checkimage(prod.ID, prod.PRODUCT_GROUP, index)" v-else-if="prod.PRODUCT_GROUP == '9001'">
                                    <!-- Regular products -->
                                    <img id="imagefcrm" :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL"
                                      width="100%" rel="preload" class="prod-img" @load="onImageLoad(prod.ID)" v-else>
                                </div>
                                <div v-else>
                                  <img src="static/img/Prisen2020.png" width="100%" rel="preload" class="prod-img" @load="onImageLoad(prod.ID)">
                                </div>
                              </a>
                              <!-- FB Ads -->
                              <a href="#/webshop/fb-ads" class="cart-icon" v-else-if="prod.CATEGORY_ID == 104 && prod.ID == 4034">
                                <div v-if="prod.get_product_image.length">
                                  <img id="imagefcrm"
                                      :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL" width="100%"
                                      rel="preload" class="prod-img"
                                      @load="onImageLoad(prod.ID)">
                                </div>
                              </a>
                              <!-- Google Ads -->
                              <a href="#/webshop/google-ads" class="cart-icon" v-else-if="prod.CATEGORY_ID == 104 && prod.ID == 4035">
                                <div v-if="prod.get_product_image.length">
                                  <img id="imagefcrm"
                                      :src="'https://newcrm.kundematch.dk'+prod.get_product_image[0].showURL" width="100%"
                                      rel="preload" class="prod-img"
                                      @load="onImageLoad(prod.ID)">
                                </div>
                              </a>
                            </div>
                            <div class="center">
                              <div class="pb2"></div>
                              <a :href="'#/webshop/product?id=' + prod.ID" class="cart-icon"><span
                                  class="h5 darkblue bold block">{{prod.NAME}}</span></a>
                              <span
                                class="h6 mintgreen bold">{{prod.PRICE.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ")}}
                                kr</span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="mt3"><span class="bold">{{prodMsg}}</span></div>
                    </div>
                  </div>
                </el-tab-pane>

              </el-tabs>
            </div>
          </div>
          <div class="pb3 lg-hide"></div>
        </div>
      </div>
      <WebshopFooter v-if="!insideLoading">
      </WebshopFooter>
    </div>
  </div>
</template>

<script>
import WebshopHeader from './header'
import WebshopFooter from './footer'
export default {
  name: '',
  components: {
    WebshopHeader,
    WebshopFooter
  },
  data () {
    return {
      loading: true,
      insideLoading: true,
      imageLoadingpng: true,
      salesPerson: '',
      haaId: '',
      activeTabName: '0',
      tabPosition: 'top',
      catData: '',
      totalProdCount: 0,
      prodData: '',
      search: '',
      prodIdsWishList: '',
      prodMsg: '',
      curPage: 1,
      lastPage: 20,
      heightimage: 380,
      widthimage: 380,
      form: {
      },
      prodBadgesIdsArr: []
    }
  },
  created () {
    this.salesPerson = localStorage.getItem('id_token_portal')
    this.haaId = localStorage.getItem('haaid')
    this.currentTab()
    this.displayCategories()
    this.getProdIdWishList()
    this.displayProducts()
    this.removeUrlQstinMrk()
  },
  methods: {
    checkimage (prodId, prodGroup, index) {
      var imgLink = ''
      if (prodGroup !== '9001') {
        imgLink = 'http://widget.haandvaerker.dk/products/' + this.prodData[index].PRODUCT_GROUP + '/' + this.prodData[index].EXT + '/productPng.php?id=' + this.haaId
      } else {
        imgLink = 'http://widget.haandvaerker.dk/prisen/2021/streamer/streamerPng.php?id=' + this.haaId
      }
      var img = document.querySelectorAll('.prodImg-' + prodId + ' img')
      for (var i = 0; i < img.length; i++) {
        img[i].src = imgLink
      }
    },
    onImageLoad (prodId) {
      setTimeout(() => {
        var hidden = document.querySelectorAll('.prodImg-' + prodId)
        for (var i = 0; i < hidden.length; i++) {
          hidden[i].classList.remove('hide')
        }
        var loader = document.querySelectorAll('.loader-' + prodId)
        for (var x = 0; x < loader.length; x++) {
          loader[x].remove()
        }
      }, 1000)
    },
    stoploading () {
      this.imageLoadingpng = false
    },
    showBreadCrumb () {
      document.querySelector('.breadCrumb').classList.remove('hide')
    },
    removeUrlQstinMrk () {
      let url = window.location.href
      history.pushState({}, null, url.replace('/?', ''))
    },
    displayCategories () {
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'GET',
        url: 'webshop/GetCategory/0'
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          if (res.success) {
            var dataRes = response.data.data
            var prodCount = 0
            for (var i = 0; i < dataRes.length; i++) {
              prodCount += dataRes[i].PRODUCT_COUNT
            }
            this.catData = dataRes
            this.totalProdCount = prodCount - 2 // Deduct ads count
          } else {
            console.log('Error in displayCategories()')
          }
        },
        (response) => {
          console.log('Error: ', response)
        }
      )
    },
    getProdIdWishList () {
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'GET',
        url: 'webshop/GetWishList/' + this.haaId
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          if (res.success) {
            var dataRes = response.data.data.data
            var prodIds = []
            for (var i = 0; i < dataRes.length; i++) {
              var prodId = dataRes[i].ID
              prodIds.push(prodId)
            }
            this.prodIdsWishList = prodIds
          } else {
            console.log('Error in getProdIdWishList()')
          }
        },
        (response) => {
          console.log('Error: ', response)
        }
      )
    },
    displayProducts () {
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'GET',
        url: 'webshop/GetProducts/0/0/' + this.activeTabName + '?page=' + this.curPage
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          console.log(response)
          if (res.success) {
            var dataRes = response.data.data
            var pagLastPage = response.data.data.last_page + '0'
            this.prodData = dataRes
            this.lastPage = pagLastPage
            if (!dataRes.length) {
              this.prodMsg = 'Ingen Produkter.'
            } else {
              this.prodMsg = ''
            }
            this.showBreadCrumb()
            this.getBadges()
            for (var i = 0; i < this.prodData.length; i++) {
              if (this.prodData[i].SIZE === '') {
                this.prodData[i].EXT = '0'
              } else {
                this.prodData[i].EXT = this.prodData[i].SIZE.replace(/\s/g, '').replaceAll('B', '').replaceAll('H', '')
              }
              this.prodData[i].LOAD = true
              // Get product badges id
              for (var x = 0; x < this.prodData[i].get_element_property.length; x++) {
                if (this.prodData[i].get_element_property[x].IBLOCK_PROPERTY_ID === 428) {
                  this.prodBadgesIdsArr.push(parseInt(this.prodData[i].get_element_property[x].VALUE))
                }
              }
            }
            this.imageLoadingpng = true
          } else {
            this.showBreadCrumb()
            this.loading = false
            this.insideLoading = false
            console.log('Error in displayProducts()')
          }
        },
        (response) => {
          console.log('Error: ', response)
        }
      )
    },
    currentTab () {
      if (window.location.href.indexOf('?cat_id') > -1) {
        var urlStr = window.location.href
        var url = new URL(urlStr.replace('/#', ''))
        var searchParams = url.searchParams
        this.activeTabName = searchParams.get('cat_id')
      }
    },
    tabChanged () {
      const input = document.querySelector('input.search')
      input.value = ''
      this.curPage = 1
      this.displayProducts()
      this.insideLoading = true
      this.imageLoadingpng = false
    },
    displaySearchedProducts () {
      this.removeUrlQstinMrk()
      var search = this.search
      var searchVal = ''
      if (search !== '') {
        searchVal = search
      } else {
        searchVal = 0
      }
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'GET',
        url: 'webshop/GetProducts/0/' + searchVal + '/' + this.activeTabName + '?page=' + this.curPage
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          if (res.success) {
            var dataRes = response.data.data
            var pagLastPage = response.data.data.last_page + '0'
            this.prodData = dataRes
            this.lastPage = pagLastPage
            if (!dataRes.length) {
              this.prodMsg = 'Ingen Produkter Fundet.'
            } else {
              this.prodMsg = ''
            }
            for (var i = 0; i < this.prodData.length; i++) {
              if (this.prodData[i].SIZE === '') {
                this.prodData[i].EXT = '0'
              } else {
                this.prodData[i].EXT = this.prodData[i].SIZE.replace(/\s/g, '').replaceAll('B', '').replaceAll('H', '')
              }
              this.prodData[i].LOAD = true
            }
            this.getBadges()
          } else {
            this.loading = false
            this.insideLoading = false
            console.log('Error in displaySearchedProducts()')
          }
        }
      )
    },
    addRemoveProdWishList (id, status) {
      const compId = this.haaId
      const prodId = id
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'POST',
        url: 'webshop/AddRemoveWishlist',
        parameters: JSON.stringify({
          CompanyID: compId,
          ProductID: prodId
        })
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          if (res.success) {
            this.getProdIdWishList()
            var search = this.search
            if (search !== '') {
              this.displaySearchedProducts()
            } else {
              this.displayProducts()
            }
            this.calulateWishListCount()
            if (status === 'added') {
              this.$toastr('success', 'Tilføjet')
            } else {
              this.$toastr('success', 'Fjernet')
            }
          } else {
            this.loading = false
            this.insideLoading = false
            console.log('Error in addRemoveProdWishList()')
          }
        },
        (response) => {
          console.log('Error: ', response)
        }
      )
      this.insideLoading = true
    },
    calulateWishListCount () {
      setTimeout(() => {
        const prodWishList = this.prodIdsWishList
        for (var i = 0; i < prodWishList.length; i++) {
        }
        document.querySelector('.totalWishList').innerText = i
      }, 1000)
    },
    paginationChanged (val) {
      var pagCurPage = (`${val}`)
      this.curPage = pagCurPage
      var search = this.search
      if (search !== '') {
        this.displaySearchedProducts()
      } else {
        this.displayProducts()
      }
      this.insideLoading = true
    },
    downloadFiles (url) {
      var filename = url.substring(url.lastIndexOf('/') + 1).split('?')[0]
      var xhr = new XMLHttpRequest()
      xhr.responseType = 'blob'
      xhr.onload = function () {
        var a = document.createElement('a')
        a.href = window.URL.createObjectURL(xhr.response)
        a.download = filename
        a.style.display = 'none'
        document.body.appendChild(a)
        a.click()
        a.remove()
      }
      xhr.open('GET', url)
      xhr.send()
    },
    getBadges () {
      /* eslint-disable no-unused-vars */
      var data = {
        operation: 'oversigt_getsupplierprofilebyid',
        levid: this.haaId,
        salesPerson: this.salesPerson
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          var badgesList = res.Badges
          var filteredBadges = badgesList.filter(function (property) {
            return property['Industry'] != null
          })
          var badgesArr = this.mergedBadges(filteredBadges)
          console.log(badgesArr)
          console.log('prodBadgesIdsArr:', this.prodBadgesIdsArr)
          this.loading = false
          this.insideLoading = false
        },
        (err) => {
          console.log('Error in getBadgesCount()', err)
          this.show = false
        }
      )
    },
    mergedBadges (filteredBadges) {
      var badges = []
      for (var i = 0; i < filteredBadges.length; i++) {
        if (filteredBadges[i]['Industry'] === 'TV inspektion') {
          filteredBadges[i]['Industry'] = 'TVInspektion'
        }
        badges.push({
          id: filteredBadges[i].Id,
          name: filteredBadges[i]['BadgeYear'] + ' ' + filteredBadges[i]['Area'].replace('Region', '') + ' ' + filteredBadges[i]['Industry']
        })
      }
      return badges
    },
    addProduct () {
      var data = {
        operation: 'bitrixApi',
        salesPerson: this.salesPerson,
        type: 'POST',
        url: 'webshop/AddProduct',
        product_name: ''
      }
      this.$http.post('', data, { emulateJSON: true }).then(
        (response) => {
          var res = response.body
          if (res.success) {
          } else {
            console.log('Error in addProduct()')
          }
        },
        (response) => {
          console.log('Error: ', response)
        }
      )
    }
  },
  watch: {
    'search': function (newval, oldval) {
      setTimeout(() => {
        this.displaySearchedProducts()
      }, 200)
      this.insideLoading = true
    }
  }
}
</script>
<style>
  #productFilter .el-tabs--top .el-tabs__nav {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  #productFilter .el-tabs__item {
    display: block;
  }
  #productFilter .el-tabs__item.is-active {
    color: #003645;
    font-weight: bold;
    pointer-events: none;
  }
  #productFilter .el-tabs--top .el-tabs__item.is-top:hover {
    color: unset;
  }
  #productFilter .el-tabs--top .el-tabs__nav-wrap.is-top::after {
    display: none;
  }
  #productFilter .el-tabs__active-bar {
    display: none;
  }
  #productFilter .prod-img {
    height: 380px;
    object-fit: cover;
  }
  @media (max-width: 64em) {
    #productFilter .el-tabs--top .el-tabs__nav {
      display: block;
    }
    #productFilter .el-tabs__item {
      padding: 0;
    }
    #productFilter .prod-img {
      height: auto;
      object-fit: contain;
    }
  }
  @media (max-width: 52em) {
    #productFilter .el-tabs--left .el-tabs__header.is-left {
      width: 100%;
      margin-right: 0;
      margin-bottom: 3rem;
    }
    .el-tabs__content {
      width: 100%;
    }
  }
  .img-loader {
    background: white;
    width:100%;
    height:100%;
  }
  .center-xy {
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  }
  .img-loader .loader::before, .img-loader .loader::after {
    background: white;
  }
  #productFilter div#tab-104 {
    display: none;
  }
</style>